.home {
  max-width: 1300px;
  padding: 48px 50px;
  margin: 0 auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin: -24px;
}

.item {
  transition: all 0.3s ease;
  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 26px 40px -24px rgba(0, 0, 0, 0.8);
  }
}
